<h1>Client List</h1>

<% @clients.each do |client| %>
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
            <h3><%= client.title %></h3>
            <p><%= client.category.name %></p>
            <div class="buttons">
                <a href="/clients/<%= client.id %>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="/clients/<%= client.id %>/edit"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
            </div>
            <div class="panel-body">
                <%= client.body %>
            </div>
        </div>
    </div>
<% end %>
